@import url(https://fonts.google.com/specimen/Kaushan+Script);

	#top-menu li	{
   			 display: inline-block;
		}	
		
    #top-menu ul	{
            position: sticky;
            text-align: center;
            font-family: 'Kaushan Script', cursive;
            font-size: 20px;
            top: 0;
            width: 100%;
            margin: 0;
            padding: 5;
			background-color: #333;
		}

    #top-menu li a {
            display: inline-block;
            color: #CCB5A5; 
            padding: 20px 50px;
            text-decoration: none;
        }

    #top-menu li a:hover {
            background-color: #111;
        }

body .home {
        
        opacity: 0.6;
        
}

    html	{
			background: black url(coffee_beans_keyboard.jpeg) no-repeat;
			background-position: center;
            background-size: auto;
            height: auto;
		}
	
    .home h1	{
            text-align: left;
            color: #EBE9EA;
			font-family: 'Kaushan Script', cursive;
			font-size: 100px;
		}
    .home h4 {
            text-align: right;
			color: #BAA393;
			font-family: 'Kaushan Script', cursive;
			font-size: 50px;
        }
